<form class="{{cssClass}} {{actor.system.activeThemeClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-details">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nome do Personagem"/></h1>
            <div class="summary">
                <input type="text" name="system.details.raca.value" value="{{system.details.raca.value}}" placeholder="Raça"/>
                <input type="text" name="system.details.origem.value" value="{{system.details.origem.value}}" placeholder="Origem"/>
                <input type="text" name="system.details.classe.value" value="{{system.details.classe.value}}" placeholder="Classe"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <nav class="sheet-tabs tabs" data-group="primary">
            {{!-- As abas estarão aqui (Detalhes, Inventário, Poderes, etc.) --}}
            <a class="item active" data-tab="detalhes">{{ localize "T20AS.Themes.Default" }}</a>
            <a class="item" data-tab="inventario">Inventário</a>
            <a class="item" data-tab="poderes">Poderes</a>
        </nav>

        {{!-- Conteúdo das Abas --}}
        <div class="tab" data-group="primary" data-tab="detalhes">
            <p>Conteúdo da aba Detalhes vai aqui!</p>
            <p>PV: {{system.attributes.pv.value}} / {{system.attributes.pv.max}}</p>
            <p>O ID da ficha é: {{this.options.id}}</p>
            <p>Classe do Tema Ativo: {{actor.system.activeThemeClass}}</p>
        </div>
        <div class="tab" data-group="primary" data-tab="inventario">
            <p>Conteúdo da aba Inventário vai aqui!</p>
        </div>
        <div class="tab" data-group="primary" data-tab="poderes">
            <p>Conteúdo da aba Poderes vai aqui!</p>
        </div>
    </section>
</form>